<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Medical Math</title>

    <link rel="stylesheet" href="css/darkly.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a th:href="${user != null ? '/profile' : '/login'}" th:text="${user != null ? user.username : 'log in'}">
            Chandra S.
        </a>
         &bull;
        <a href="/logout">
            logout
        </a>
         &bull;
        <a href="/signup">
            sign up
        </a>
    </nav>

    <form id="searchCategoryForm" action="/" method="get">
        <div>
            <label for="searchCategory">Category:</label>
            <select id="searchCategory" name="searchCategory">
                <option value="" ></option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>

            <label for="searchName">Formula Name:</label>
            <input type="text" id="searchName" name="searchName"/>
            
        </div>
        <button type="submit">Search</button>
    </form>

    <div th:each="formula : ${formulas}" th:id="|topLevel-${formula.id}|" th:name="${formula.name}" class="formula-box">

        <h1 th:id="|name-${formula.id}|" th:text="${formula.name}"></h1>

        <th:block th:each="childFormula : ${formula.childFormulas}" th:id="|children-${formula.id}|" class="form-group form-inline">
            <label th:for="|input-${childFormula.id}|" th:text="${childFormula.name}"></label>
                <input type="number" th:id="|input-${childFormula.id}|"/>

                <img th:id="|image-${childFormula.id}|"
                     th:if="${childFormula.hasChildren}" th:src="@{/images/drill_arrow.svg}"
                     height="30px"
                     th:onclick="|getChildFormula(${childFormula.id}); this.style.display = 'none';|"/>
            <br/>
        </th:block>

        <br/>
        <label th:for="|result-${formula.id}|">Result:  </label>
        <h1 type="text" th:id="|result-${formula.id}|"></h1>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script th:src="@{/js/serviceCalls.js}" type="text/javascript"></script>
    <script th:src="@{/js/formulas.js}" type="text/javascript"></script>
    <script th:src="@{/js/localStorageSeeding.js}" type="text/javascript"></script>

</body>
</html>