<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Medical Math</title>

    <link rel="stylesheet" href="css/darkly.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css"/>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a th:href="${user != null ? '/profile' : '/login'}" th:text="${user != null ? user.username : 'log in'}">
            Chandra S.
        </a>
        &bull;
        <a href="/logout">
            logout
        </a>
    </nav>

    <table id="mainTable" class="display" style="width:60%">
        <thead>
        <tr>
            <th>Formula 1</th>
            <th>Formula 2</th>
            <th>Formula 3</th>
            <th>Formula 4</th>
            <th>Result</th>
        </tr>
        <td th:each="formula : ${formulas}" th:text="${formula.name}"></td>
        </thead>
    </table>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

</body>
</html>