<div style="display: table;" xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="display: table-cell">
        <p id="17" style="">Test Formula Level 3</p>
        <input class="form-control" type="text" id="17" name="Test Formula Level 2 - Test Formula Level 3" placeholder="Test Formula Level 3 ">
    </div>

    <div style="display: table-cell">
        <p id="18">Test Formula Level 3 #2</p>
        <input class="form-control" type="text" id="18" name="Test Formula Level 2 - Test Formula Level 3 #2" placeholder="Test Formula Level 3 #2 ">
    </div>

    <div style="display: table-cell">
        <button type="button" th:onclick="Test Formula Level 1 - Test Formula Level 2()">Calculate</button>
    </div>

    <div style="display: table-cell">
        <p class="col-form-label">Result:</p>
        <input class="form-control" type="text" id="Test Formula Level 3 #2-result">
    </div>
</div>